{# {% extends "layouts/base.njk" %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1>HAI Xeno Dossiers</h1>
        </div>
        <ul class="species-list">
            {% for species in collections.aliens %}
                {% if not species.data.hidden %}
                    <li>
                        {% if species.data.playable %}📑{% else %}📃{% endif %}
                        <a href="{{ species.data.permalink | url }}">{{ species.data.species_name }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <a href="{{ '/'| url }}" class="back-button">Back to Home</a>
    </div>
{% endblock %} #}
{% extends "templates/directory-listing.njk" %}
{% block directory_list %}
    {% for species in collections.aliens %}
        {% if not species.data.hidden %}
            <li>
                {% if species.data.playable %}📑{% else %}📃{% endif %}
                <a href="{{ species.data.permalink | url }}">{{ species.data.species_name }}</a>
            </li>
        {% endif %}
    {% endfor %}
{% endblock %}