{% extends "templates/base.njk" %}
{% block content %}
  <main class="homepage">
    <header class="site-header">
      <h1>Harmonia Archives</h1>
      <p class="tagline">The Empire's Documents Preserved For All to See</p>
      <nav class="main-nav">
        <ul>
          <li>
            <!-- prettier-ignore -->
            <a href="{{ '/' |url }}">Home</a>
          </li>
          <li>
            <a href="#">Search Archives</a>
          </li>
          <li>
            <a href="#">Browse by Category</a>
          </li>
          <li>
            <a href="#">About the Archive</a>
          </li>
        </ul>
      </nav>
    </header>
    <section class="featured-section">
      <h2>Latest Articles From Harmonia Vox</h2>
      <div class="featured-articles">
        <ul>
          {% for article in collections.voxArticles %}
            {% if loop.index <= 5 %}
              <li class="news-item">
                {% if article.data.new_article %}
                  {% include "snippets/new-content.njk" %}
                {% endif %}
                📰
                <a href="{{ article.data.permalink }}">{{ article.data.article_date }} - {{ article.data.article_title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="archive-button">
        <a href="hv/">Explore the archives</a>
      </div>
    </section>
    <section class="categories-section">
      <h2>Browse by Category</h2>
      <ul class="category-list">
        <li>
          {% include "snippets/new-content.njk" %}
          <a href="aliens/">Alien Species Profiles</a>
          – Classified dossiers on xenos, extracted from "secure" HAI servers. Why did they make these?
          🤔
        </li>
        <li>
          {% include "snippets/new-content.njk" %}
          <a href="acs/">Astra Corona Starlines Planetary Profiles</a>
          - Archived pages from a Harmonia Astralis-aligned travel agency. Not 100% up-to-date, but a pretty decent description of
          the civilized planets of the sector.
        </li>
      </section>
    </main>
  {% endblock %}