// Home Page
@home-primary: #800080;
@home-secondary: #990199;
@home-background: #111111;
@home-text: #d8d8d8;
@home-hover: #da02da;

// Harmonia Astralis Dossiers
@dossier-primary: #ffcc33;
@dossier-text: #d3d2d2;
@dossier-background: #1a1a1a;
@dossier-accent: #666633;