h2 {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
}

ul {
	margin: 0;
	padding-left: 10px;
	list-style: none;

	li {
		a {
			transition-duration: 0.333s;

			&:hover {
				transition-duration: 0.333s;
				padding-left: 20px;
				font-size: large;
			}

			&:visited {
				color: #0000ff;
			}
		}
	}
}

&.description {
	background: #363636;
	padding: 2px 20px;

	p.disclaimer {
		font-size: small;
		font-style: italic
	}
}