@import "index.less";
@import "harmonia-dossier.less";
@import "alien-index.less";
@import "harmonia-vox.less";
@import "travel-agency.less";

body {
	padding: 2rem;
	max-width: 1000px;
	margin: auto;
}

.new-content::before {
	content: "NEW";
	display: inline-block;
	background-color: @home-primary;
	color: white;
	padding: 0px 8px;
	border-radius: 3px;
	font-size: 0.8em;
	vertical-align: middle;
}

.archive-overlay {
	background-color: rgba(0, 0, 0, 0.05);
	padding: 10px;
	border: 2px dashed #ff0000;
	margin-bottom: 20px;
	text-align: center;
	color: #ff0000;
	font-weight: bold;

	a {
		text-decoration: none;

		&:visited {
			color: #ff0000;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}