{% extends "templates/base.njk" %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1>{{ directory_header }}</h1>
        </div>
        <ul class="directory-list">
            {% block directory_list %}{% endblock %}
        </ul>
        <a href="{{ '/'| url }}" class="back-button">Back to Home</a>
    </div>
{% endblock %}