<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.ico' | url }}"/>
        <link rel="stylesheet" type="text/css" href="{{ 'style.min.css' | url }}"/>
        <title>{{ page_title }}</title>
    </head>
    {% if body_class is defined %}
        <body class="{{ body_class }}">
        {% else %}
            <body>
            {% endif %}
            {% block content %}{% endblock %}
        </body>
    </html>
</html>