<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="./style.min.css"/>
        <title>Harmonia Archives</title>
    </head>
    <body>
        <div class="description">
            <p>
                {{ description }}
            </p>
            <p class="disclaimer">
                {{ disclaimer }}
            </p>
        </div>
        <h2>Alien Dossiers</h2>
        <ul>
            {% for entry in collections.aliens %}
                <li>
                    <a href="{{ entry.data.permalink }}">{{ entry.data.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>